/*Fonts*/
/* cuprum-regular - cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
    url("../fonts/cuprum.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/cuprum.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cuprum-italic - cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/cuprumitalic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cuprum-700 - cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
    url("../fonts/cuprumbold.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/cuprumbold.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cuprum-700italic - cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/cuprumbolditalic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/ptsans.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/ptsansbold.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*Variables*/
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-dark-white: #f3f7f9;
  --basic-neutral: #f9f5f0;
  --basic-beige: #f7f3ec;
  --basic-dark-gray: #293449;
  --basic-gray: #1d2739;
  --basic-gray-lighter: #32425c;
  --basic-light-grey: #c5c5c5;
  --basic-light-special-grey: #c4c4c4;
  --basic-clear-gray: #a9a9a9;
  --basic-lightest-grey: #f2f6f8;
  --basic-border-grey: #eaeaea;
  --basic-background: #f1f5f7;
  --basic-red: #ee3643;
  --basic-dark-red: #ba2732;
  --basic-yellow: #ffbf47;
  --basic-yellow-lighter: #ffc047;
  --basic-light-yellow: #ffd180;
  --basic-blue: #3bbce3;
  --basic-purple: #dc91d8;
  --basic-dark-green: #518534;
  --basic-green: #63a63e;
  --basic-lighter-green: #5fbb2d;
  --basic-light-green: #8ed78f;
  --basic-special-white: rgba(255, 255, 255, 0.5);
  --basic-background-gray: rgba(0, 0, 0, 0.01);
  --basic-background-gray-slider: rgba(0, 0, 0, 0.25);
}

/*Global*/
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.promo-wrapper {
  width: 940px;
  padding: 0 10px;
  margin: 59px auto;
}

/*Container*/
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*main-header*/
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100%;
  background-color: var(--basic-dark-gray);
}

.logo .container {
  display: flex;
  justify-content: space-between;
}

.main-header-logo-bar {
  background-color: var(--basic-red);
  width: 220px;
  height: 47px;
}

.basket {
  list-style: none;
}

.basket-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.basket-link:active {
  color: var(--basic-special-white);
}

.order-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.order-link:active {
  color: var(--basic-special-white);
}

.about-us {
  width: 100%;
  background-color: var(--basic-background-gray);
}

.about-us .container {
  display: flex;
  justify-content: space-between;
}

.description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.header-phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
}

.header-adress p {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-gray-lighter);
}

.login {
  list-style: none;
}

.login-link:hover {
  color: var(--basic-red);
}

.login-link:active {
  color: var(--basic-light-special-grey);
}

.login-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.registration-link:hover {
  color: var(--basic-red);
}

.registration-link:active {
  color: var(--basic-light-special-grey);
}

.registration-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.login-name {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.login-name:active {
  color: var(--basic-light-grey);
}

.order-login-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray-lighter);
}

.order-login-link:hover {
  color: var(--basic-red);
}

.order-login-link:active {
  color: var(--basic-light-grey);
}

.main-navigation {
  width: 100%;
  background-color: var(--basic-background-gray);
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation .container {
  display: flex;
  margin-bottom: 60px;
  background-color: var(--basic-gray-lighter);
}

.site-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

/*Main*/
/*Catalog-navigation*/
.catalog-nav {
  width: 940px;
  padding: 0;
}

.catalog-nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-nav-list h2 {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.catalog-nav-list a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.catalog-nav-item {
  width: 300px;
  min-height: 123px;
}

.materials {
  background-color: var(--basic-yellow);
}

.button {
  text-transform: uppercase;
}

.tool {
  background-color: var(--basic-blue);
}

.technic {
  background-color: var(--basic-purple);
}

.breadcrumbs {
  list-style: none;
  margin-top: 21px;
  margin-bottom: 20px;
  padding: 0;
}

.catalog-breadcrumbs {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.about-perforators-bar {
  background-color: var(--basic-background);
}

/*Promo*/
.promo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 940px;
  padding: 0;
}

.promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-list h2 {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.promo-list a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.promo-item {
  width: 300px;
  min-height: 123px;
}

.sale {
  background-color: var(--basic-light-green);
}

.delivery-promo {
  background-color: var(--basic-yellow-lighter);
}

/*Slider*/
.slider {
  margin-top: 20px;
}

.slider-top {
  background-color: var(--basic-background-gray-slider);
}

.slider-top h3 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
}

.slider-content p {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.catalog-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/*popular-products*/
.popular-products {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  justify-content: space-between;
  background-color: var(--basic-neutral);
}

.popular-products h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-gray-lighter);
}

.popular-products a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto 70px auto;
  padding: 0 10px;
  list-style: none;
}

.product-item {
  outline: 1px solid var(--basic-border-grey);
  width: 220px;
  min-height: 318px;
  margin-top: 20px;
  margin-right: 20px;
}

.product-item:nth-child(4n) {
  margin-right: 0;
}

.product-link {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: var(--basic-black);
}

.product-list span {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-clear-gray);
  text-decoration: line-through;
}

.product-price {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/*Top-makers*/
.top-makers {
  background-color: var(--basic-neutral);
}

.top-makers h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-gray-lighter);
}

.top-makers a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.makers-list {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto 70px auto;
  padding: 0 10px;
  list-style: none;
}

.makers-item {
  outline: 1px solid var(--basic-border-grey);
  width: 220px;
  min-height: 145px;
  margin-top: 20px;
  margin-right: 20px;
}

.makers-item:nth-child(4n) {
  margin-right: 0;
}

/*Services*/
.services-bar {
  background-color: var(--basic-background);
}

.services {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services h3 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-gray-lighter);
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.service {
  grid-column-start: 1;
  grid-column-end: 3;
}

.services-button {
  display: flex;
  flex-direction: column;
}

.services-button button {
  width: 240px;
  height: 61px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-gray-lighter);
}

/*About-Technomart*/
.information {
  display: flex;
  width: 940px;
  margin: 70px auto 70px auto;
  padding: 0 10px;
}

.information h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.information p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.trasport-list {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.information-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.modal-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

/*Perforators-catalog*/
.perforators {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
}

.catalog-product {
  margin-left: 20px;
  margin-bottom: 59px;
}

.catalog-title {
  grid-column: 1 / -1;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-gray-lighter);
  background-color: var(--basic-lightest-grey);
}

.filters fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
  margin-bottom: 59px;
}

.filters legend {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-black);
}

.filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filters h3 {
  background-color: var(--basic-beige);
  text-transform: uppercase;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.catalog-product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-product-item {
  outline: 1px solid var(--basic-border-grey);
  width: 220px;
  min-height: 318px;
  margin-top: 18px;
  margin-right: 20px;
}

.catalog-product-item:nth-child(3n) {
  margin-right: 0;
}

.buy-link {
  text-transform: uppercase;
  background-color: var(--basic-green);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.catalog-basket {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-gray-lighter);
  border: 3px solid var(--basic-green);
}

.catalog-product-list span {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-clear-gray);
  text-decoration: line-through;
}

.pages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
}

.page-one {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.page-next {
  color: var(--basic-black);
}

.about-perforators h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.about-perforators p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/*Footer*/
.main-footer-logo-bar {
  background-color: var(--basic-gray-lighter);
}

.main-footer-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-logo-bar {
  background-color: var(--basic-red);
  width: 220px;
  height: 68px;
}

.footer-adress {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark-white);
}

.footer-phone {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark-white);
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-list a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.catalog-list a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light-yellow);
}

/*Copyright*/
.copytright-bar {
  background-color: var(--basic-dark-gray);
}

.copyright {
  display: flex;
}

.copyright p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.social-icon {
  list-style: none;
}

.mail p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.academy p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.mail-link {
  color: var(--basic-light-yellow);
}

.mail-link:active {
  color: var(--basic-red);
}

.academy-link {
  color: var(--basic-light-yellow);
}

.academy-link:active {
  color: var(--basic-red);
}
